<div ng-controller="StudyCtrl as study">

  <div class="flip">
    <div class="card panel panel-default" ng-class="{'flipped':study.flipped}" ng-click="study.handleFlip()">
      <div class="studycard face front panel-body" ng-if="study.front"><h3>{{ study.current.front }}</h3></div>
      <div class="studycard face back panel-body" ng-if="!study.front"><h3>{{ study.current.back }}</h3>
        <button class="btn" ng-click="study.rateCard(true, $event)" ng-class="{'green' : study.current.status}">
          <span class="glyphicon glyphicon-thumbs-up btn"></span>
        </button>
        <button class="btn" ng-click="study.rateCard(false, $event)" ng-class="{'red' : !study.current.status}">
          <span class="glyphicon glyphicon-thumbs-down btn"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="divParent">
      <div class="text-center col-xs-4">
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-info" id="previous" ng-disabled="!study.showPrev" ng-click="study.handlePrev()">Previous card</button>
        <button type="button" class="btn btn-default btn-primary" id="next" ng-disabled="!study.showNext" ng-click="study.handleNext()">Next card</button>
        </div>
      </div>

      <div class="text-center col-xs-4">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="save" ng-click="study.handleSave()">Save and quit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="studyView">
      <div class="text-center col-md-4">
        <div class="radio">
          <label class="radio-inline">
            <input type="radio" name="viewOption" ng-change="study.toggleCardsViewed(viewStatus)" ng-model="viewStatus" value="hide">View thumbs down</label>
          <label class="radio-inline"><input type="radio" name="viewOption" ng-change="study.toggleCardsViewed(viewStatus)" ng-model="viewStatus" value="viewAll">View all cards</label>
        </div>
      </div>
    </div>
  </div>

</div>
